
body,html{
    height: 100%;
}
@media(min-width:521px){
.details{
    background: url('intro-bg_11.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    z-index:2;
    width:inherit;
    height:inherit;
}
}
@media(max-width:520px){
    .details{
        background: url('img.jpg');
        background-position: center;
        background-attachment:unset;
        background-repeat: no-repeat;
        background-size: cover;
        width:inherit;
        z-index:2;
        overflow:hidden;
        height:inherit;
    }
 }


.name{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
    text-align: center;
    color:white;
    overflow:hidden;
}


#mainbody{
    width: 100%;
    height: fit-content;
    padding:20px;
}
.row{
    width: 100%;
    height: 100%;
    padding:20px;
    
}


.row div>ul{
    text-align:left;
}
.row h3{
    text-align: left;
    margin-left: 35px;

}

@media(max-width:520px){
.row div{
   border-bottom: 1px solid #3c3939;
 
}
.row div:last-child{
    border-bottom: none;
}

}
@media(min-width:521px){
    .row div{
       border-right: 1px solid #3c3939; 
    }
    .row div:last-child{
        border-right: none;
    }
    }
.row  li{
    list-style: none;  

}

header{
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #000;
    position: fixed;
    z-index:1;
    width:100%;
    top:0;
}
.navs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    
      
}
.navs>li{
    float:left;
    border-right: 1px solid black;
   
}
.navs li a{
    display: block;
    color: white;
    text-align: center;
    padding:  16px;
    text-decoration: none;
    
}
.navs li:hover{
    background-color: blue;
    
}